@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.max-width {
/*  max-width: 1300px; */
  padding: 0 80px;
  margin: auto;
}

/*===============================

  NAVBAR SECTION

=================================*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999; /* To keep NAVBAR above all other sections while scrolling */
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 30px 0;
  background: black;

}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

/*nav span is white only until scroll, then turns red*/
.navbar .logo a span {
  color: #fff;
  transition: all 0.3s ease;
}

/* On scroll, this turns logo span RED */
.navbar.sticky .logo a span {
  color: #ed1556;
}


.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #ed1556;
}

.hamburger-menu {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ed1556;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*===============================

  HERO SECTION

=================================*/
.home {
  display: flex;
  background: url("../images/glacial-lake.jpeg");
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-position: right;
  justify-content: space-between;
  align-items: center;
}

.home .max-width {
  margin: auto 0 auto 40px;
}


.home .home-content h2{
  font-size: 2.5em;
  color: #fff;
  font-weight: 700;
  line-height: 1.5em;
}

.home .home-content h2 span{
  font-size: 1.5em;
  font-weight: 700;
}

.home .home-content .text {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.home .home-content a {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 50px;
  transition: all 0.3s ease; /* Eases the hover effect below*/
}

.home .home-content a:hover {
    -moz-box-shadow: 0px 0px 4px 1px white;
    -webkit-box-shadow: 0px 0px 4px 1px white;
    box-shadow: 0px 0px 4px 1px white;
}

/* Button Arrow */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*===============================

  SECTION STYLINGS

=================================*/
section {
  padding: 100px 30px;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after{
  position: absolute;
  bottom: -12px;
  border-radius: 15px;
  left: 50%;
  font-size: 20px;
  color: #ed1556;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}


/*===============================

  ABOUT SECTION

=================================*/
.about, .services, .subscribe-box {
  font-family: 'Poppins', sans-serif;
}

.about .title::after {
    content: "About";
}

.about .about-content,
.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .max-width {
    max-width: 1300px;
}

.about .carousel .card {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 25px 55px;
    text-align: center;
    transition: all 0.3s ease;
}

.about .carousel .card:hover {
    background: #ed1556; /* Fluoride Pink*/
    color: white;
}

.about .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .carousel .card:hover img {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.about .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.about .carousel .card img {
    height: 250px;
    width: 325px;
    object-fit: cover;
    border-radius: 10px;
}

.about .carousel .card:hover .text p {
    color: #f0f0f0;
    transition: all 0s ease;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #ed1556!important;
    transition: all 0.3s ease;
}

/* Design Choice: Elongate the active owl-dot */
/* .owl-dot.active {
    width: 35px;
    border-radius: 14px;
} */

.owl-dot.active,
.owl-dot:hover {
    background: #ed1556!important;
}


/*===============================

  SERVICES SECTION

=================================*/
.services {
    color: #fff;
    background: #111;
}

.services .title::before {
    background: #fff;
}

.services .title::after {
    background: #111;
    content: "Action";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: #ed1556;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: #ed1556;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*===============================

  NEWSLETTER SUBSCRIBE SECTION

=================================*/





/*===============================

  CONTACT SECTION

=================================*/
.contact-hero {
  background: url("../images/ocean.jpeg");
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-position: right;
  justify-content: space-between;
  align-items: center;
}
.contact-hero h1 {
    padding-top: 3em;
    font-size: 4em;
}
.contact {
  font-family: 'Poppins', sans-serif;
}

.contact .title::after{
  content: "Get in Touch";
}

.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #ed1556;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}
/* Clear .right's transform rotation from above..*/
.contact .right {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid #ed1556;
    background: #ed1556;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #ed1556;
    background: none;
}






/*===============================

  FOOTER SECTION

=================================*/
footer {
    background: #111;
    color: white;
    padding: 20px 23px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer span a {
    color: #2196f3;
}

footer a:hover {
    text-decoration: underline;
    transition: all 0.3s ease;
}

footer #year {
    font-family: 'Poppins', sans-serif;
}

footer span {
    padding-left: .15em;
}

/*===============================

  RESPONSIVE MEDIA QUERIES

=================================*/

@media (max-width: 1330px){
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1200px){
    .about .title {
      margin-bottom: 30px;
    }
    .about .about-content h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    section {
      padding: 80px 30px;
    }
    #gallery {
      padding: 0 25px;
      margin: auto;
    }

}


@media (max-width: 1014px){
    .max-width {
      padding: 0 50px;
    }

  .hamburger-menu {
    display: block;
    z-index: 999;
  }

  .hamburger-menu i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; /* Hamburger Menu "Slides" In From The Left*/
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li{
    display: block;
  }

  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content h2 {
    font-size: 3.5em;
  }

  .home .home-content .text {
    font-size: 1.5em;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  section{
      padding: 60px 0;
  }
}
@media (max-width:764px) {

  .home .home-content h2 {
    font-size: 2.75em;
  }
  .about .about-content {
    display: block;
    justify-content: center;
  }

  .contentBox {
    padding-right: 0px;
  }

  .contentBox h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .contact .contact-content .column {
      width: 100%;
      margin-bottom: 35px;
  }

  .services .serv-content .card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
}

@media (max-width:690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content h2 {
    font-size: 2.5em;
  }

  .home .home-content .text {
    font-size: 1.5em;
  }

  .home .home-content a {
    font-size: 20px;
    padding: 9px 20px;
  }
  .about img {
    padding-top: 1em;
  }

  .services .serv-content .card {
      width: calc(50% - 10px);
      margin-bottom: 20px
  }
  .about .carousel .card img {
      padding-top: 1px;
  }
}

@media (max-width:500px) {
  .navbar .logo a {
    font-size: 1.1em;;
  }

  .home .home-content h2 {
    font-size: 1.9em;
  }

  .home .home-content .text {
    font-size: 1.2em;
  }

  .services .serv-content .card {
      width: 100%;
  }
}
